
.navigation {
    margin: auto;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 3px -3px 6px 0px #424242;
}

.navigation__ChangeTheme {
    background-color: rgb(132, 201, 141);
    box-shadow: 3px -3px 6px 0px #0C9100;
}

.navigation__menu {
    list-style: none;
    display: flex;
    max-width: 60%;
    margin: auto;
    text-align: center;
}

.navigation__menuCell {
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 30px;
    background-color: rgb(89, 87, 190);
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    box-shadow: 3px -3px 6px 0px #424242;
}

.navigation__menuLink {
    text-decoration: none;
    color: black;
}

.navigation__menuLink:hover {
    color: rgb(78, 3, 3);
    border-color: darkblue;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(78, 3, 3);
}
